<h1>Booking</h1>

<div class="flight_info">
	<h3>Flight Information</h3>
	<table>
		<tr>
			<td><strong>Flight Number: </strong></td>
			<td><%= @booking.flight.number %></td>
		</tr>
		<tr>	
			<td><strong>From: </strong></td>
			<td><%= @booking.flight.from_airport.airport_info %></td>
		</tr>
		<tr>
			<td><strong>To: </strong></td>
			<td><%= @booking.flight.to_airport.airport_info %></td>
		</tr>
		<tr>
			<td><strong>When: </strong></td>
			<td><%= @booking.flight.departure.strftime("%A, %B %d, %Y at %l:%M %p") %></td>
		</tr>
	</table>
</div>

<div class="passenger_info">
	<h3>Passengers</h3>
	<table>
		<tr>
			<td><strong>Name </strong> </td>
			<td><strong>Email </strong> </td>
		</tr> 
		<% @booking.passengers.each do |passenger| %>
			<tr>
				<td><%= passenger.name %></td>
				<td><%= passenger.email %></td>	
			</tr>
		<% end %>
	</table>
</div>
