<!DOCTYPE html>
<html>
  <head>
    <title>FlightBooker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="header">
	  	<%= link_to "Search", root_path, class: "link" %>
  	</div>
  	<% flash.each do |key, value| %>
  		<%= content_tag :div, value, class: "flash" %>
	<% end %>
	<div class="content">
	    <%= yield %>
	</div>
  </body>
</html>
